.project_thumbnail::before {
  content: '';
  height: 100%;
  width: 100%;
  background: rgba(96, 130, 255, 0.5);
  display: block;
  position: absolute;
  transition: all 0.6s ease-in-out;
}

.project_thumbnail:hover::before {
  background: transparent;
}
